<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Oretan</title>
</head>
<body>

	<div class="contents">
		<ul class="words"></ul>
	</div>


	<script type="text/x-tmpl" id="tmpl-word">
	<li>
		<span class="key"><%= key.id %></span>
		<span class="en"><%= en %></span>
		<span class="ja"><%= ja %></span>
	</li>
	</script>

	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
		<script>
		if (!window.hasOwnProperty('jQuery')) {
			document
					.write('<script src="js/assets/jquery-1.8.2.min.js"><\/script>');
		}
	</script>
	<script src="js/assets/jquery.masonry.min.js"></script>
	<script src="js/assets/underscore-min.js"></script>
	<script src="js/assets/backbone-min.js"></script>
	<script src="js/assets/moment.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/model/word.js"></script>
	<script src="js/collection/words.js"></script>
	<script src="js/view/words.js"></script>

</body>
</html>